/* Estilos gerais para o body */
body {
  font-family: 'Arial', sans-serif; 
  background-color: #f4f4f9; 
  margin: 0; 
  padding: 20px;
  color: #333; 
}

/* Container principal do sistema */
.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilos para os títulos h2 */
h2 {
  margin-top: 40px; 
  margin-bottom: 20px; 
  font-size: 24px; 
  color: #2c3e50; 
  text-align: center; 
}

/* Estilos para as tabelas */
table {
  width: 100%; 
  border-collapse: collapse; 
  background-color: #ffffff; 
  margin-bottom: 20px; 
  border-radius: 8px; 
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Estilos para as células de cabeçalho e dados */
th, td {
  padding: 12px; 
  text-align: left; 
  border-bottom: 1px solid #ddd; 
}

th {
  background-color: #0d7bc5; 
  color: #ffffff; 
  font-weight: bold; 
}

td {
  background-color: #ffffff; /* Fundo leve para as células */
}

tr:hover {
  background-color: #e1e8f0; 
  cursor: pointer; 
}

/* Estilo para o total do pedido */
#total-pedido {
  font-size: 18px; 
  font-weight: bold; 
  text-align: right; 
  background-color: #dd0c0c; 
  color: #ffffff; 
  padding: 10px;
  border-radius: 5px; 
  margin-top: 20px; 
}


/* Responsividade */
@media (max-width: 768px) {
  .container {
    padding: 15px; 
  }

  h2 {
    font-size: 20px; 
  }

  table {
    font-size: 14px; 
  }

  th, td {
    padding: 8px; 
  }

  #total-pedido {
    font-size: 16px; 
    padding: 8px; 
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 18px; 
  }

  table {
    font-size: 12px; 
  }

  th, td {
    padding: 6px; 
  }

  #total-pedido {
    font-size: 14px; 
    padding: 6px; 
  }
}

